@import './base.scss';

.nav-container {
    border-top: 6px solid $primary;
    border-bottom: 2px solid $alt-grey;
    box-shadow: 0px 1px 1px $alt-grey;
}

.nav-item {
    border-bottom: 3px solid transparent;
}

.nav-item .router-link-active {
    border-bottom: 3px solid $primary;
}

.nav-link {
    color: $dark;
}

.router-link-active.nav-link {
    color: $primary;
}