@import './base.scss';
@import './calendar.scss';

.nav-container {
    border-top: 6px solid $primary;
    border-bottom: 2px solid $alt-grey;
    box-shadow: 0px 1px 1px $alt-grey;
}

.nav-item {
    border-bottom: 3px solid transparent;
}

.nav-item .router-link-active :not(.dropdown-item) {
    border-bottom: 3px solid $primary;
}

.nav-item .dropdown-item.router-link-active {
    color: $primary;
}

.nav-link {
    color: $dark;
}

.router-link-active.nav-link {
    color: $primary;
}

.head-block-home {
    background-image: url('@/assets/varsity-2022-header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 45% 50%;
    height: 600px;

    .head-inner {
        background-color: rgba(10, 10, 10, 0.5);
        color: #ffffff;
    }
}

.head-block {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='300' preserveAspectRatio='none' viewBox='0 0 1440 300'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1079%26quot%3b)' fill='none'%3e%3crect width='1440' height='300' x='0' y='0' fill='rgba(177%2c 4%2c 4%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c574.221C105.028%2c591.184%2c195.748%2c500.98%2c281.435%2c437.922C362.519%2c378.251%2c448.341%2c314.948%2c481.486%2c219.887C513.594%2c127.801%2c473.917%2c30.339%2c457.039%2c-65.712C440.728%2c-158.54%2c449.856%2c-265.279%2c384.33%2c-333.024C319.295%2c-400.262%2c214.116%2c-401.775%2c121.235%2c-412.89C41.029%2c-422.488%2c-38.973%2c-419.141%2c-115.342%2c-392.818C-189.191%2c-367.364%2c-242.909%2c-311.002%2c-306.397%2c-265.494C-391.716%2c-204.338%2c-535.973%2c-183.101%2c-552.531%2c-79.442C-569.003%2c23.679%2c-438.634%2c88.08%2c-376.252%2c171.828C-328.335%2c236.157%2c-283.29%2c296.969%2c-228.505%2c355.56C-155.014%2c434.157%2c-106.226%2c557.064%2c0%2c574.221' fill='%23730303'%3e%3c/path%3e%3cpath d='M1440 639.274C1504.762 636.5160000000001 1566.772 617.119 1622.166 583.4549999999999 1678.594 549.163 1735.849 507.5 1758.748 445.567 1781.141 385.002 1752.567 320.295 1743.083 256.423 1733.649 192.89 1747.446 118.5 1703.261 71.88300000000001 1659.173 25.369000000000028 1581.509 44.97 1521.453 22.596000000000004 1454.87-2.209000000000003 1402.011-80.77600000000001 1332.4569999999999-66.25900000000001 1263.724-51.91300000000001 1235.6109999999999 30.973000000000013 1197.816 90.14699999999999 1164.969 141.573 1140.939 195.56799999999998 1127.241 255.03199999999998 1112.454 319.223 1093.588 386.092 1115.318 448.277 1137.858 512.781 1188.686 564.765 1247.581 599.4100000000001 1305.206 633.308 1373.205 642.119 1440 639.274' fill='%23ef0505'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1079'%3e%3crect width='1440' height='300' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .head-inner {
        background-color: rgba(10, 10, 10, 0.5);
        color: #ffffff;
    }
}

.socials-carousel .carousel-item {
    height: 500px;
}

.socials-carousel .carousel-item img {
    position: absolute;
    object-fit: cover;
    object-position: center;
    top: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    max-height: 500px;
}